#home-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .home-parent {
        width: 100%;

        #section1 {
            width: 100%;
            margin: 0 auto;
            padding: 40px 0;
            background-color: #131313;
            color: white;

            .section1-parent {
                width: 98%;
                display: flex;
                justify-content: space-between;
                margin: 120px 10px;


                .home-left {
                    width: 65%;
                    display: flex;

                    .home-left-text {
                        span {
                            font-size: 45px;
                            color: hsla(0, 0%, 100%, .35);
                        }

                        p {
                            line-height: 24px;
                        }

                    }

                    .home-left-image {

                        img {
                            width: 80%;
                            // z-index: 2;
                        }

                        // .circle {
                        //     width: 300px;
                        //     height: 300px;
                        //     background-color: black;
                        //     border-radius: 50%;
                        //     z-index: -2;
                        //     position: absolute;
                        //     top: 15%;
                        //     left: 0;
                        // }


                    }
                }

                .home-right {
                    .home-right-parent {
                        padding: 10px 60px;
                        padding-bottom: 30px;
                        padding-left: 30px;
                        border-radius: 10px;
                        background-color: #070707;

                        div {
                            padding: 20px 1px;
                            border-bottom: 1px solid gray;
                        }
                    }
                }

            }
        }


        #about {
            margin-top: -20px;
            background-color: #070707;

            .about-parent {
                width: 80%;
                margin: 0 auto;
                padding: 80px 0;
                display: flex;
                justify-content: space-between;

                .about-left {
                    width: 52%;

                    h3 {
                        color: gray;
                    }

                    h2 {
                        color: white;
                        font-size: 40px;
                        line-height: 50px;
                    }

                    p {
                        color: gray;
                        line-height: 24px;
                        font-size: 17px;
                    }

                    ul {
                        color: white;
                        font-size: 21px;
                        margin: 20px 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;


                        li {
                            padding: 15px 0;
                        }
                    }

                    .about-info-box {
                        background-color: #1f1f1f;
                        display: flex;
                        padding: 30px 0;
                        border-radius: 20px;
                        justify-content: space-between;


                        .about-info-left {
                            display: flex;
                            align-items: center;
                            padding: 0 30px;

                            a {
                                color: white;
                            }

                            span {
                                color: gray;
                            }
                        }


                        .about-info-right {
                            display: flex;
                            align-items: center;
                            padding: 0 30px;

                            a {
                                color: white;
                            }

                            span {
                                color: gray;
                            }
                        }

                    }

                }



                .about-right {
                    width: 50%;

                    .about-right-parent {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        #resume {
            background-color: #1f1f1f;


        }


        .skills {
            width: 100%;
            background-color: #070707;

            padding: 80px 0;

            .skills-parent {
                width: 80%;
                margin: 0 auto;
                display: flex;
                align-items: center;

                .skills-left {
                    padding-right: 50px;

                    p {
                        color: gray;
                        font-weight: bold;
                    }

                    h2 {
                        font-size: 40px;
                    }
                }

                .skills-right {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .skills-card {
                        border: 0.5px solid gray;
                        border-radius: 12px;
                        padding: 25px;
                        margin: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #1f1f1f;
                        cursor: pointer;


                        img {
                            width: 50px;
                            border: none;
                        }

                        p {
                            color: white;
                            padding: 18px 0;
                            border: none;
                        }

                        span {
                            color: gray;
                            padding: 5px 25px;
                            background-color: #131313;
                            border: none;
                            border-radius: 10px;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }





                }

                .skills-right :hover {
                    border: 0.5px solid #c9f31d;

                    span {
                        background-color: #c9f31d;
                        border-radius: 10px;
                    }
                }
            }

        }
    }
}